.navigation {
  width: 100%;
  background-color: $white; 
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  a, span {
    display: inline;
    font-size: 1.2rem;
    font-family: $heading-font-family;
    font-weight: $font-weight-regular;
    line-height: $font-height;
    color: $purple;
  }
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .nav-avatar {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 12px;
    text-decoration: none;
    @media screen and (max-width: 48em) {
      float: none;
      display: block;
      margin: 0 auto;
    }

    img {
      border-radius: 45px;
    }
  }

  .nav-title {
    padding-left: 1rem;
    @media (max-width: 769px) {
      padding-left: 0;
    }
    margin: 0;
    text-shadow: none;
    color: $purple;
  }

  .nav-left {
    text-align: left;
    display: flex;
    align-items: center;
    @media screen and (max-width: 48em) {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    a { margin-left: 10px; }
    a:first-child { margin-left: 0; }
    a:last-child { padding-right: 1rem; }
    @media screen and (max-width: 48em) {
      margin: 15px 0;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 48em) {
      justify-content: center;
    }
    a { margin-left: 20px; }
    a:first-child { margin-left: 0; }
    a:last-child { padding-right: 1rem; }
  }
}
