{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}

<div class="container" itemscope itemtype="http://schema.org/Recipe">

  <div class="clearfix mt3 md-ml3 lg-ml3 post-header">
    
    <!-- call up the image and image credit link -->
    <div class="image-container sm-col md-col-6 lg-col-6 mt3">
      {{ with .Params.Image }}
        <img class="" itemprop="image" src="{{ . }}" />

      {{ else }}
        {{ range first 1 (.Resources.ByType "image") }}
          <div class="xs-p2">
            <img itemprop="image" src="{{$.Site.BaseURL}}{{ .RelPermalink }}" />
          </div>
        {{ end }}
      {{ end }}
    </div>

    
    <!-- call up the recipie overview -->
    <div class="sm-col md-col-6 lg-col-6 post-description">
      <header class="post-header">
        <h1 class="post-title xs-center m2 sm-mt3" itemprop="name">{{ .Title }}</h1>
      </header>
      
      {{ with .Params.blurb }}
      <div class="px2 mt2 clearfix">
        <div class="sm-col-11">{{ . | markdownify }}</div>
      </div>
      {{ end }}
  
      {{ with .Params.serves }}
      <div class="sm-col sm-col-9 mt3 ml2">
          <h4 class="purple mt0 mb2 xs-center">{{ i18n "serves" }}: {{ . }}</h4>
      </div>
      {{ end }}
      {{ with .Params.prepTime }}
      <div class="sm-col sm-col-9 ml2">
        <h4 class="purple mt0 mb2 xs-center">{{ i18n "prepTime" }}: {{ . }}</h4>
      </div>
      {{ end }}
      {{ with .Params.cookTime }}
      <div class="sm-col sm-col-9 ml2">
        <h4 class="purple mt0 mb2 xs-center">{{ i18n "cookTime" }}: {{ . }}</h4>
      </div>
      {{ end }}
    </div>

  </div>


  <article class="post-content px2">

    <!-- call up recipe and directions -->
    <div class="clearfix mt3">
      <div class="sm-col sm-col-5 lg-col-5 recipeItems">
        <!-- check if it's a component-based recipe -->
        {{ with .Params.Components}}
        <h4 class="purple mt0 mb2 xs-center">{{ i18n "components" }}</h4>
        <ul>
          <!-- list components that make up recipe -->
          {{ range . }}
          <li>
            {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}

        {{ with .Params.Ingredients }}
        <h3 class="purple mt0 mb2 xs-center">{{ i18n "ingredients" }}</h3>
        <ul itemprop="ingredients">
          <!-- list ingredients that make up recipe -->
          {{ range . }}
          <li itemprop="recipeIngredient">
            {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>

      <div class="sm-col sm-col-7 lg-col-7 recipeItems">
        <h3 class="purple mt0 mb2 xs-center">{{ i18n "directions" }}</h3>
        <ol itemprop="recipeInstructions">
          {{ range .Params.Directions }}
          <li>
            {{ with ( . | markdownify) }}{{ . }}{{ end }}</li>
          {{ end }}
        </ol>
      </div>
    </div>
    <!-- end recipe and directions -->

    <!-- check if it's a component-based recipe, render it -->
    {{ with .Params.Components }}
    <div class="components bg-darken-2 p2 mt3 mb3 center">
      &darr; {{ i18n "this-is-a" }} <strong class="purple">{{ i18n "component-based-recipe" }}</strong> ({{ i18n "fancy-talk" }}). &darr;
    </div>

    <div class="clearfix mxn2">
    {{ range  . }}
      {{ $compTitle := . }}
      <div class="sm-col sm-col-4 px2 recipeItems">
      {{ range where $.Site.Pages "Title" $compTitle }}
        <h4 class="purple center"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        {{ range (.Resources.ByType "image") }}
        <div class="image ratio bg-cover" style="background-image:url({{$.Site.BaseURL}}{{ .RelPermalink }});">
          <img class="hide" itemprop="photo" src="{{$.Site.BaseURL}}{{ .RelPermalink }}" />
        </div>
        {{ end }}
        {{ if .Params.Imagecredit }}
          <a href="{{ .Params.Imagecredit }}" class="right">
            <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor">
              <title>camera icon</title>
              <path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path>
            </svg>
          </a>
        {{ end }}

        <h4 class="purple regular xs-center">{{ i18n "ingredients" }}</h4>
        <ul class="ingredients" itemprop="ingredients">
          {{ range .Params.Ingredients }}
          <li itemprop="ingredient">
            {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
          </li>
          {{ end }}
        </ul>

        <h4 class="purple regular xs-center">{{ i18n "steps" }}</h4>
        <ul itemprop="instructions">
          {{ range .Params.Directions }}
          <li>
            {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
          </li>
          {{ end }}
        </ul>

      {{ end }}
      </div>
    {{ end }}
    </div>

    {{ end }}
    <!-- end components -->
    <br />

    {{ with .Params.Category }}{{ partial "taxonomy/category" . }}{{ end }}
    {{ with .Params.Cuisine }}{{ partial "taxonomy/cuisine" . }}{{ end }}
    {{ with .Params.Tags }}{{ partial "taxonomy/tags" . }}{{ end }}

    <div class="recipe-source">
      {{ if (or .Params.SourceName .Params.AuthorName) }}
        {{ i18n "inspired" }}
      {{ end }}

      {{ with .Params.SourceName }}
        {{$name := .}}
        {{ i18n "by" }}
        {{with $.Params.SourceURL }}
          <a href="{{.}}">{{$name}}</a>
         {{else}}
           {{$name}}
         {{end}}
      {{ end }}

      {{with .Params.AuthorName}}
        {{$name := .}}
        {{ i18n "from" }}
        {{with $.Params.AuthorURL }}
          <a href="{{.}}">{{$name}}</a>
         {{else}}
           {{$name}}
         {{end}}
      {{end}}
    </div>
    
  </article>
</div>
{{ end }}
