{{ define "content" }}
  <section class="container list">
    <h1 class="title">
      {{- .Title -}}
    </h1>
    {{ range .Paginator.Pages }}
    <div class="pure-g">
      <div class="pure-u-1">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      </div>
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
